.links {
  align-items: center;
  display: flex;
  height: auto;
  margin: 0 auto;
  width: auto;
}

span {
  background-color: rgb(92, 92, 227);
  height: 40px;
  margin: 2px;
  text-align: center;
  width: 25%;
}

p {
  text-align: center;
}
